body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
/*100;200;300;400;500;600*/
/*#F7C324 hover color*/
header {
  background-image: url("../img/background-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 105rem;
  z-index: 2;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding: 60px;
    border-bottom: 1px solid hsla(0, 5%, 70%, 0.5);
    .logo {
      height: 40px;
      padding-top: 20px;
      img {
        width: 80px;
      }
    }
    .menu {
      ul {
        display: flex;
        list-style: none;
        gap: 40px;
      }
      li {
        padding: 5px;
      }
      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        transition: all 0.4s ease;
        color: #fff;
      }
      a:hover {
        color: #f7c324;
      }
      #f-link-gold {
        color: #f7c324;
      }
    }
    /*This is kind a bug :S */
    .btn-menu {
      text-align: center;
      a {
        display: block;
        width: 100px;
        background-color: #fff;
        height: 20px;
        padding: 10px;
        line-height: 20px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: black;
        border-radius: 35px;
        margin-left: 150px;
      }
      a:hover {
        background-color: #343a40;
        color: #fff;
        transition: 1s;
      }
    }
  }
  .header-bottom {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    .header-bottom-left-side {
      padding: 40px;
      position: relative;
      left: 100px;
      .left-side-top {
        padding: 100px;
        .banner-top {
          border-radius: 35px;
          background-color: #774bd0;
          color: #fff;
          margin-bottom: -1px;
          #banner-top-left {
            margin-left: 15px;
          }
          a {
            display: inline-block;
            text-decoration: none;
            padding: 10px 20px;
            color: black;
            background-color: #f7c324;
            transition: all 0.4s ease;
            border-radius: 0 35px 35px 0;
          }
          a:hover {
            background-color: #343a40;
            color: #fff;
          }
        }
      }
      .left-side-middle {
        width: 420px;
        margin-left: 100px;
        margin-top: -150px;
        h1 {
          color: #fff;
          font-size: 96px;
          line-height: 70px;
          font-weight: 700;
          letter-spacing: -0.09em;
          span {
            background-color: #f7c324;
            color: #343a40;
          }
        }
      }
      .left-side-bottom {
        width: 200px;
        margin-left: 200px;
        margin-top: -40px;
        text-align: center;
        border-radius: 35px;
        background-color: #f7c324;
        a {
          display: block;
          padding: 20px;
          text-decoration: none;
          color: black;
          font-size: 18px;
          font-weight: 500;
          transition: all 0.4s ease;
        }
        a:hover {
          display: block;
          border-radius: 35px;
          background-color: #343a40;
          color: #fff;
        }
      }
    }
    .header-bottom-right-side {
      width: 50%;
      .right-side-img {
        position: relative;

        .computer-in-header {
          position: absolute;
          height: 800px;
          right: 200px;
          animation-name: my-animation;
          animation-duration: 5s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        @keyframes my-animation {
          from {
            top: 10px;
          }
          to {
            top: 100px;
          }
        }
      }
    }
  }
}
.circle {
  position: relative;
  width: 400px;
  height: 400px;
  left: 65%;
  top: -450px;
  border-radius: 50%;
  outline: 100px #f7c324 solid;
  z-index: -1;
  animation-name: my-animation-2;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes my-animation-2 {
    from {
      top: -400px;
    }
    to {
      top: -450px;
    }
  }
}
.section-control {
  border: 1px solid red;
  margin-top: -650px;
  text-align: center;
  .card-info {
    padding: 40px;
    h1 {
      width: 700px;
      font-size: 72px;
      font-weight: 800;
      color: #343a40;
      line-height: 70px;
      margin-left: 30%;
    }
  }
  .card-side {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    gap: 40px;
    .crd-card {
      height: 450px;
      width: 300px;
      padding: 20px;
      border: 1px solid yellowgreen;
      text-align: center;
      .service-icon {
        width: 100px;
        height: 100px;
        background-image: linear-gradient(
          90deg,
          #5128c4 0%,
          #7541d1 50%,
          #b16aeb 100%
        );
        border-radius: 50%;
        margin-left: 42%;
        i {
          font-size: 56px;
          margin-top: 45px;
        }
      }
      h3 {
        font-size: 26px;
        width: 120px;
        margin-left: 40%;

        a {
          text-decoration: none;
          color: #343a40;
        }
      }
      .card-txt {
        padding: 0 50px;
        line-height: 50px;
      }
      .card-bottom {
        border: 1px solid rgb(235, 201, 201);
        a {
          display: block;
          text-decoration: none;
          color: #343a40;
          font-size: 16px;
          font-weight: 800;
          padding: 10px;
        }
        a:hover {
          background-color: #f7c324;
          transition: 1s;
        }
      }
    }
  }
}
